:root {
    --primary-color: #ff00ff;
    --secondary-color: #6C63FF;
    --white-color: #ffffff;
    --gap: 3rem;
    --fonte-titulo: 'Montserrat', sans-serif;
    --fonte-texto: 'Open Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

h1,
h3,
h4,
h5,
h6 {
    font-family: var(--fonte-titulo);
    color: var(--white-color);
    padding-bottom: 3rem;
}

h2 {
    font-family: var(--fonte-titulo);
    color: var(--white-color);
    padding: 3rem;
    text-align: center;
}

p {
    color: var(--white-color);
    font-family: var(--fonte-texto);

}

h1 {
    font-size: 3.5rem;
    text-transform: uppercase;
    color: var(--white-color);
}

.title {
    color: var(--primary-color);
    font-size: 3.5rem;
}

#apresentation {
    font-size: 3rem;
    line-height: 4.5rem;

}

a {
    text-decoration: none;
}

body {
    font-family: var(--fonte-texto);
    font-size: 1.6rem;
    background-color: rgb(20, 20, 20);
}

header {
    border-bottom: 2px solid var(--primary-color);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 7rem;
    padding-top: 1.5rem;
}



#logo {
    color: #ff00ff;
    text-decoration: none;
    font-family: var(--fonte-titulo);
    font-size: 4rem;
}

.main-content {
    max-width: 1000px;
    margin: 0 auto;
    padding: var(--gap);

}

.menu-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 0;
    padding-bottom: 0;
}

header ul {
    list-style: none;
    display: flex;

}

header ul li a {
    display: block;
    padding: 2rem;
    font-size: 1.8rem;
    font-family: var(--fonte-titulo);
    color: var(--white-color);
    position: relative;

}

header ul li a::after {
    content: '';
    position: absolute;
    bottom: 1rem;
    left: 50%;
    width: 0px;
    height: 0.2rem;
    background: var(--primary-color);
    transition: all 150ms ease-in-out;

}

header ul li a:hover::after {
    width: 50%;
    left: 25%;
}

.menu-spacing {
    height: 65px;
}

.home-content {
    display: flex;
    position: relative;
    gap: var(--gap);
    align-items: center;
    height: 90vh;

}

.home-content-text {
    display: grid;
    flex-flow: column wrap;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    text-transform: uppercase;

}


.links {
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    padding: 15px;
    padding-top: 40px;


}

.links a {
    border: 1.3px solid var(--primary-color);
    border-radius: 10px;
    padding: 15px;
    color: var(--white-color);
    margin: 0px 30px;
    font-family: var(--fonte-titulo);

}

.links a:hover {
    color: var(--primary-color);
    border: 1.3px solid var(--white-color);

}

.home-imagem {

    padding-left: 8rem;

}

.home-imagem img {
    max-width: 90%;
    height: auto;
}

.title-secondary {
    font-family: var(--fonte-titulo);
    color: var(--white-color);
    text-shadow: 1px 1px 7px black;
    font-size: 5rem;
}

.about-me {
    border-top: 2px solid var(--secondary-color);
    background-image: url(../imagens/main-bg.png );
    padding-top: 6rem;
    color: var(--white-color);
}

.secondary-section {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.foto img {
    max-width: 70%;
    height: auto;
    box-shadow: 5px 5px 2px var(--secondary-color);
}

.test {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.test p {
    line-height: 1rem;
    font-size: 3rem;
    letter-spacing: 3px;

}

.test p a {
    font-family: var(--fonte-texto);

}

.links-2 {
    color: var(--primary-color);
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    padding-top: 8rem;



}

.links-2 a {
    border: 1.3px solid var(--primary-color);
    padding: 15px;
    font-family: var(--fonte-titulo);
    font-size: 2rem;
    border-radius: 10px;
    color: var(--white-color);
}

.project-content {
    height: 100vh;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

#project {
    border-top: 2px solid #6C63FF;
}

.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr) ;
    gap: var(--gap);
}

.project-item{
    border: 1px solid var(--primary-color);
    border-radius: 15px;
    padding: 25px;
    margin-top: 5rem;
    box-shadow: 0.5px 0.5px 7px var(--primary-color);
    position: relative;
}

.project-item img{
    width: 300px;
    height: 160px;
    border-radius: 15px;
    margin: 12px;
   
}

.description{
    padding: 0px 20px 0px 20px;
    font-size: 1.6rem;
}


.project-item h3{
    text-align: center;
    font-size: 2.2rem
}
