.about-container {
    margin-top: 6rem;
    padding: 0 10rem;
    height: 1300px;
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
}

.about-container>h2 {
    margin-bottom: 90px;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.719);
    font-size: 4rem;
    color: var(--white-color);
}

.about-container>h2>span {
    color: var(--primary-color);
}

.line-container {
    display: flex;
    justify-content: space-evenly;
}

.about-m {
    width: 3px;
    height: 800px;
    background-color: var(--primary-color);
    position: relative;
    animation: line 3s;
}

.about-m>:nth-child(1) {
    animation: appear 1s forwards;
}
.about-m>:nth-child(2) {
    animation: appear 1s 0.5s forwards;
}
.about-m>:nth-child(3) {
    animation: appear 1s 1s forwards;
}
.about-m>:nth-child(4) {
    animation: appear 1s 2s forwards;
}

.about-l {
    width: 500px;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    animation: slideInRight 2s;
}

.about-l>div {
    width: 400px;
    display: flex;
    flex-direction: column; 
    align-items: flex-end;
    color: white;
    margin-right: -80px;
}
.about-r>div {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: white;
    margin-left: -80px;
}

.text-item, .title-item {
    height: 90px;
}

.text-item>p {
    font-family: var(--font-text);
    text-align: justify;
    font-size: 1.2rem;
    letter-spacing: 1px;
}

.about-r {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    animation: slideInLeft 2s;
}

.about-r>:nth-child(2), .about-l>:nth-child(2) {
    margin-top: 9rem;
}

.about-r>:nth-child(3), .about-l>:nth-child(3) {
    margin-top: 9rem;
}
.about-r>:nth-child(4), .about-l>:nth-child(4) {
    margin-top: 9rem;
}


.title-item>h3 {
    font-size: 1.3rem;
    margin: 0;
    color: var(--primary-color);
}

.title-item>p {
    font-family: var(--font-texto);
    text-transform: uppercase;
    font-size: 1.5rem;
    letter-spacing: 1px;
}

.title-item>span {
    font-family: var(--font-texto2);
    font-size: 2rem;
    letter-spacing: 1px;
}

.pointer1 {
    width: 13px;
    height: 13px;
    background-color: var(--primary-color);
    border: 2px solid var(--primary-color);
    border-radius: 50%;
    opacity: 0;
}

.pointer2 {
    width: 12px;
    height: 12px;
    background-color: rgb(75, 75, 75);
    border: 3px solid var(--primary-color);
    border-radius: 50%;
    opacity: 0;
}

.about-m>:nth-child(1) {
    position: absolute;
    top: 30px;
    right: -6px;
}

.about-m>:nth-child(2) {
    position: absolute;
    top: 270px;
    right: -6.5px;
}

.about-m>:nth-child(3) {
    position: absolute;
    top: 510px;
    right: -6px;
}

.about-m>:nth-child(4) {
    position: absolute;
    top: 750px;
    right: -6.5px;
}

.hidden {
    opacity: 0;
    height: 1300px;
}

.icon-container {
    display: flex;
    gap: 6rem;
    justify-content: center;
}

.icon-container>div>a>img{
    margin-top: 8rem;
    width: 90px;
    cursor: pointer;
}

.icon-container>div>a>img {
    transition: transform 0.8s;
}

.icon-container>div>a>img:hover {
    transform: translateY(-15px);
}

.icon-container>div>p {
    text-align: center;
    color: var(--white-color);
    font-size: 1.7rem;
    letter-spacing: 1px;
}

@keyframes slideInRight {
    from {
        transform: translateX(-200px);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes slideInLeft {
    from {
        transform: translateX(200px);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes line {
    from { height: 0 };
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 100%;
    }
}

@media screen and (max-width: 1600px) {
    .about-r>div {
        margin-left: 0px;
    }

    .about-l>div {
        margin-right: 0px;
    }

}