header {
    border-bottom: 2px solid var(--primary-color);
    position: fixed;
    width: 100vw;
    background-color: rgb(34, 34, 34);
    z-index: 999999;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

ul {
    display: flex;
    list-style: none;
}

ul>li {
    padding: 1rem;
    font-size: 1rem;
    color: var(--white-color);
    cursor: pointer;
    position: relative;
}

ul>li::after {
    content: '';
    position: absolute;
    bottom: 0.5rem;
    left: 50%;
    width: 0px;
    height: 0.1rem;
    background: var(--primary-color);
    transition: all 150ms ease-in-out;
    border-radius: 10px;
}

ul>li:hover::after {
    width: 50%;
    left: 25%;
}

#logo {
    color: var(--primary-color);
    text-decoration: none;
    font-family: var(--fonte-titulo);
    font-size: 2rem;
    font-weight: bold;
}

